<!DOCTYPE html>
<html>
  <head>
    <title>Backyard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui grid container">
      <div class="sixteen wide column">
        <% flash.each do |type, msg| %>
          <div class="ui message huge <%= type %>">
            <%= msg %>
          </div>
        <% end %>
      </div>
      <% if session[:api_access_token] %>
        <div class="three wide column">
          <div class="ui vertical pointing menu">
            <%= link_to "Messages", "/messages", class: "active item" %>
            <%= link_to "Account", "/account", class: "item" %>
          </div>
        </div>
      <% end %>
      <div class="thirteen wide column">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
