<h1>Messages</h1>
<a href="<%= url_for controller: "messages_page", action: "new" %>" class="ui button blue">Create</a>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Content</th>
      <th>Created</th>
      <th>Created by</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message["subject"] %></td>
        <td><%= message["body"] %></td>
        <td><%= DateTime.parse(message["created_at"]).to_formatted_s(:short) %></td>
        <td><%= message["user_fullname"] %></td>
        <td>
          <a href="<%= url_for controller: "messages_page", action: "show", id: message["id"] %>" class="ui button blue mini">Details</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
